.panel
{
	margin: 40px 300px;
}
.panel-body
{
	background-color:#bdc3c7;
}
.panel-heading
{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.error
{
	color: red;
}
#span1
{
	margin-left: 20px;
}
